body {
	font-family: helvetica;
	color: white;
	background-image: url("stardust.png");
    background-repeat: repeat-y repeat-x;

}

a:link {
    color: #b2e8d5;
}

a:visited {
    color: #e0b2e8;
}

a:hover{
	color: #db8d3f;
}

#header{
	 border-bottom: 4px solid red;
	 margin-bottom: 2%;
}

h1{
	text-align: center;
	margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 50px;
    color: #bab08b;
}

h2.power{
	text-align: center;
	margin:auto;
	width: 50%;
    padding: 10px;
    font-style: italic;
    text-transform: uppercase;

}

#mini{
	font-family: verdana;
}

#soldout{
	color: #bab08b;
}
.image img{
	margin: 2%;
	float: left;
	width: 50%;
	height: 50%;
	border-style: solid;
	border-color: white;
}

.list{
	width: 40%;
	float: left;
	padding: 2%;
	padding-bottom: 15%;
}

.form{
	width: 100%;
	clear:both;
	display:block;
}

@media screen and (max-width: 661px) {
 .image img {
  width: 55%;
  margin: auto;
  display: block;
  float: none;
 }

 .list{
 	width: 55%;
 	margin: auto;
    display: block;
 	float:none;
 }
}